@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  /* gap: 10px; */
}

.sidebar {
  background: rgb(103, 103, 228);
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 0.25fr 1fr 3fr;
  gap: 30px;
  color: white;
  padding-left: 10px;
  /* grid-template-areas:
    "title"
    "links"
    "settings"; */
  /* margin-top: 15px; */
}

.title-logo {
  font-size: large;
  background: orange;
  /* background: rgb(129, 103, 129); */
  padding-top: 30px;
}

.title-logo svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: white;
}

.title-logo,
.sidebar a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  width: min-content;
}

.sidebar a svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: white;
}

.main-links {
  background: rgb(68, 50, 86);
}

.settings {
  background: rgb(188, 168, 188);
}

.header {
  background: rgb(212, 149, 72);
  grid-area: header;
  display: grid;
  grid-template-rows: 0.75fr 1fr;
}

.head-top {
  background: olive;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  align-items: center;
  padding: 0 20px;
  /* margin-top: -10px; */
}

.search {
  display: flex;
  align-items: center;
  /* padding-left: 5px; */
}

.search input[type="text"] {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 15px;
  padding: 9px;
  margin-left: 5px;
}

.search svg,
.icons svg {
  width: 24px;
  height: 24px;
  /* margin-right: 10px; */
  /* fill: white; */
}

.wave-logo {
  /* fill: blue; */
  width: 40px;
  height: auto;
  padding: 10px;
  background-color: rgb(122, 158, 122);
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.head-bottom {
  background: rgb(104, 104, 72);
  display: grid;
  grid-template-columns: 0.25fr 2fr 1fr;
  align-items: center;
  padding: 0 20px;
}

.wave-logo-btm {
  width: 50px;
}

.btns-bottom {
  display: flex;
}

.btns-bottom button {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  background: rgb(81, 81, 163);
  color: white;
  border: none;
  margin-top: 5px;
}

.main {
  background: rgb(122, 158, 122);
  grid-area: main;
}
