@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(74, 130, 143);
  --secondery-bg-color: rgb(243, 169, 83);
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.65fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
}

.side {
  grid-area: sidebar;
  background: var(--main-bg-color);
}

.sidebar {
  display: grid;
  grid-template-rows: 0.25fr 1fr 3fr;
  gap: 30px;
  color: white;
  padding-left: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 50%;
}

.title-logo {
  font-size: 25px;
  font-weight: 700;
  /* background: orange; */
  /* background: rgb(129, 103, 129); */
  padding-top: 15px;
  /* position: sticky;
  top: 0; */
}

.title-logo svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  fill: white;
}

.title-logo,
.sidebar a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  width: min-content;
}

.sidebar a svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: white;
}

/* .main-links {
  position: sticky;
  top: 10;
} */

.header {
  /* background: rgb(212, 149, 72); */
  grid-area: header;
  display: grid;
  grid-template-rows: 0.75fr 1fr;
  background: white;
  box-shadow: 0px 15px 10px -15px #111;
  margin-bottom: 5px;
  position: sticky;
  top: 0;
}

.head-top {
  /* background: olive; */
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  align-items: center;
  padding: 0 20px;
  /* margin-top: -10px; */
}

.search {
  display: flex;
  align-items: center;
  /* padding-left: 5px; */
}

.search input[type="text"] {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 15px;
  padding: 9px;
  margin-left: 5px;
  background: rgb(233, 233, 238);
}

.search svg,
.icons svg {
  width: 24px;
  height: 24px;
}

.wave-logo {
  width: 40px;
  height: auto;
  padding: 10px;
  background-color: rgb(122, 158, 122);
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.head-bottom {
  /* background: rgb(104, 104, 72); */
  display: grid;
  grid-template-columns: 0.25fr 2fr 1fr;
  align-items: center;
  padding: 0 20px;
}

.wave-logo-btm {
  width: 50px;
}

.btns-bottom {
  display: flex;
}

.btns-bottom button {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  background: var(--main-bg-color);
  color: white;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.main {
  /* background: rgb(122, 158, 122); */
  background: rgb(233, 233, 238);
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.left-main {
  /* background: rgb(173, 173, 150); */
  padding: 10px;
}
.container {
  margin-top: 10px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  border-left: 8px solid var(--secondery-bg-color);
  min-height: 175px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border-left: 8px solid var(--main-bg-color);
  border-right: 8px solid var(--main-bg-color);
  cursor: pointer;
}

.card p {
  font-weight: 200;
  color: rgb(102, 98, 98);
}

.card-icons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.card-icons i {
  margin-right: 20px;
  font-size: 18px;
}

.right-main {
  /* background: rgb(228, 228, 172); */
  padding: 10px;
}

.top-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 15px;
  margin-top: 10px;
}

.content-top:nth-of-type(-n + 2) {
  border-bottom: 3px solid rgb(220, 214, 214);
}

.content-top {
  padding-top: 5px;
  padding-bottom: 10px;
}

.content-top h5:hover {
  cursor: pointer;
}

.content-top p {
  font-size: small;
  font-weight: 100;
  line-height: 15px;
  color: rgb(102, 98, 98);
}

.trends {
  margin-top: 15px;
}

.btm-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background: white;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 15px;
  gap: 5px;
  margin-top: 10px;
}

.user {
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
}

.user p {
  font-size: smaller;
  color: rgb(102, 98, 98);
}

.profile {
  margin-left: 10px;
}

.profile:hover {
  cursor: pointer;
}

.user img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.fa:hover {
  cursor: pointer;
  border: solid 1px var(--secondery-bg-color);
  border-radius: 50%;
  background: var(--secondery-bg-color);
}

.peace {
  background-color: rgb(118, 158, 158);
}

.wave-btm {
  background: rgb(122, 158, 122);
}

.tree {
  background: rgb(255, 145, 0);
}

.moon {
  background: rgb(164, 85, 25);
}

.profile {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 1fr; */
}
